/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
li a{
  color: black !important;
}

#content{
  width: 100%;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}




/* Show Items Page */
html {}

.container-fluid {}

.btn {
  /*border-radius: 50px;*/
}

.navigation {
  min-height: 50px;
  display: block;
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-left: 10px;
  padding-right: 10px;
  background: black;
}

.logo {
  float: left;
}

.logo img {
  max-width: 150px;
  margin-top: 6px;
}

.mini-cart {
  float: right;
}

.mini-cart-button {
  float: right;
  color: #ffc008;
  font-size: 16px;
  padding: 6px 8px;
  position: relative;
  top: 9px;
  background: none;
  border-width: 2px;
  border-color: #ffc008;
  width: 36px;
  height: 36px;
  border-radius: 50px;
}

.mini-cart-button span {}

.mini-cart-container {
  min-height: 200px;
  position: absolute;
  width: 50%;
  max-width: 400px;
  display: none;
  background: white;
  box-shadow: 0px 10px 50px -5px rgb(199, 199, 199);
  top: 50px;
  right: 10px;
  z-index: 1;
}

.mini-cart-container ul {
  margin-left: 0!important;
  padding-left: 20px!important;
  padding-right: 20px!important;
}

.mini-cart-container ul li {
  list-style: none;
  position: relative;
  border-bottom: 1px solid grey;
  min-height: 60px;
}

.mini-cart-container ul li h3 {
  font-size: 16px;
}

.mini-cart-container ul li h3 span {
  font-size: 16px;
  color: grey;
  position: relative;
}

.mini-cart-container ul li span {
  position: absolute;
  right: 5px;
  top: 10px;
}

.mini-cart-open {
  display: block;
}

.product-grid {
  padding-top: 20px;
}

.grid-item {
  text-align: center;
  padding: 15px;
  margin: ;
  box-shadow: 2px 0px 0px 1px rgb(199, 199, 199);
  transition: all .25s ease;
  max-width: 300px;
  position:relative;
}

.grid-item:hover {
  box-shadow: 0px 0px 20px -1px rgb(99, 99, 99);
}

.grid-item img {}

.grid-item h1 {
  font-size: 24px;
  margin-bottom: 10px
}

.grid-item h3 {
  margin-top: 10px;
}

.grid-item .quantity-input {
  margin: 5px auto;
}

.grid-item .quantity-input button {}

.grid-item .quantity-input input {
  max-width: 50px;
}

.add-to-cart-button {
  background: green;
}

.mini-cart-totals {
  text-align: center;
}

#total-price {
  float: left;
  padding: 5px;
  border: 1px solid grey;
  margin: 10px;
  min-width: 100px;
  margin-left: 20px;
}

#total-items {
  float: right;
  padding: 5px;
  border: 1px solid grey;
  margin: 10px;
  min-width: 100px;
  margin-right: 20px;
}

#total-items p,
#total-price p {
  font-weight: 700;
  color: grey;
  margin-bottom: 0;
}

#total-items span,
#total-price span {
  font-size: 16px;
  font-weight: 700;
  color: grey;
}

.succes-message {
  display: none;
  position: absolute;
  height:100px;
  background:white;
  width: 200px;
  z-index: 2;
  left: 40%;
  right: 0;
  top:30%;
  font-size:20px;
  box-shadow: 0px 0px 20px -1px rgb(99, 99, 99);
  text-align:center;
  padding:20px;
}