<div class="row">
  <div class="col-md-12">
    <h2>
      Add Role To User
    </h2>
    <%= form_with model: [:admin, @user] do |f| %>
      <div class="form-group">
        <label>Roles</label>
        <%= select_tag :role, content_tag(:option,'Select Role',:value=>"")+options_from_collection_for_select(@roles, "id", "name"), class: 'form-control' %>  
      </div>
      <div class="form-group">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', root_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
