<%= form_with model: [:admin, @user] do |f| %>
  <label>Roles</label>
  <%= select_tag :role, content_tag(:option,'Select Role',:value=>"")+options_from_collection_for_select(@roles, "id", "name") %>
  <br />
  <%= f.submit 'Submit' %>
<% end %>